
.green-yellow-crayola {
  background-color: #EFC3E6;
}

.inicio {
  background-color: #F0E6EF;
  height: 100%;
}

.titulo {
  background-color: #9C89B8;
  border-radius: 40px;
  margin: 5px;
}

.mango-tango {
  background-color: #B8BEDD;
}

.olive {
  background-color: #F0A6CA;
}
