@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
*{
  font-family: "Montserrat", sans-serif;
  
}

form {
  padding: 10px;
  margin-bottom: 1em;
}

form button {
  text-align: center;
  margin: 1em;
}

h2,b, label, legend {
  color: black;
}
.btn{
  background-color:#9C89B8;
  font-size: 18px;
}
hr{
  margin: 2px, 100px, 2px, 100px;
  border: 2px solid #B8BEDD;
  border-radius: 10px;
}

.green-yellow-crayola {
  background-color: #EFC3E6;
}

.coffee {
  background-color: #F0E6EF;
}

.pullman-brown-ups-brown {
  background-color: #9C89B8;
}

.mango-tango {
  background-color: #B8BEDD;
}

.olive {
  background-color: #F0A6CA;
}


